<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebScraping Proconsumidor</title>
    <link rel="stylesheet" href="../public/style.css">
</head>

<body>
    <header>
        <img src="../public/imagens/logo procon.png" alt="Logo Procon">
    </header>

    <main>
        <h1>WebScraping Proconsumidor</h1>
        <section class="Arquivo">
            <div class="explicacao-texto-1">
                <h2>Upload do Arquivo</h2>
                <p>O arquivo deve ser um arquivo XLSX e deve conter apenas dados de NA. Certifique-se de que o arquivo
                    esteja formatado corretamente para garantir um upload bem-sucedido.</p>

            </div>
            <div class="img-seta">
                <img src="../public/imagens/seta.png" alt="Seta indicando o local de upload" widht="50px" height="50px">
            </div>
            <form id="upload-form">
                <label action="../app.js" method="post" enctype="multipart/form-data" for="file-input" class="drop-zone" id="drop-zone" accept=".xlsx">
                    <span class="drop-zone__prompt">Arraste o arquivo ou clique aqui</span>
                    <input type="file" name="upload-file" id="file-input" class="drop-zone__input">
                </label>
            </form>
            <div class="img-seta">
                <img src="../public/imagens/seta.png" alt="Seta indicando o local de upload" widht="50px" height="50px">
            </div>
            <div class="explicacao-texto-1">
                <h2>Nome da Coluna para identificar Na's</h2>
                <p>Digite o nome da coluna onde os valores de NA estão localizados:</p>
                <input type="text" id="column-name" placeholder="Ex: NumerodeAtendimento">
            </div>
            <div class="img-seta">
                <img src="../public/imagens/seta.png" alt="Seta indicando o local de upload" widht="50px" height="50px">
            </div>
            <div class="explicacao-texto-1">
                <h2>Tipo do Arquivo</h2>
                <p>Selecione o tipo de arquivo que será analisado</p>
            </div>
            
            <div class="img-seta">
                <img src="../public/imagens/seta.png" alt="Seta indicando o local de upload" widht="50px" height="50px">
            </div>
            <select id="sheet-type">
                <option value="audiencia">Audiência</option>
                <option value="carta">Carta</option>
                <option value="consumidor">Consumidor</option>
            </select>
            <div class="img-seta">
                <img src="../public/imagens/seta.png" alt="Seta indicando o local de upload" widht="50px" height="50px">
            </div>
            <button id="run-scraping">Processar Arquivo</button>
            <div id="download-result"></div>

        </section>
    </main>
    <script src="../public/script/main.js"></script>
</body>

</html>
